transformers==4.37.0  # REMOVE ONCE IN README: make sure vast uses cuda 12.4 or do pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121 as vast default is cuda 12.1, unlike lambda labs
datasets
evaluate
deepspeed
sentencepiece
tensorboardX
accelerate==0.28.0 # higher versions break transformers

einops
importlib-resources
jsonlines
numexpr
omegaconf
pycountry
pytablewriter
rouge-score
sacrebleu
scikit-learn
sqlitedict
tqdm-multiprocess
zstandard

bitsandbytes
peft==0.8.0 # higher versions break transformers
fraction

ipykernel
importlib_metadata # missing library
wandb

# vllm # for fast teacher generation
