transformers==4.37.0 # Qwen model breaks on earlier versions
datasets
deepspeed
sentencepiece
tensorboardX
accelerate

einops
importlib-resources
jsonlines
numexpr
omegaconf
pycountry
pytablewriter
rouge-score
sacrebleu
scikit-learn
sqlitedict
tqdm-multiprocess
zstandard

bitsandbytes
peft==0.8.0
fraction

ipykernel
importlib_metadata
